*{
margin:0;
padding:0;
box-sizing:border-box;
font-family:Arial,sans-serif;
}

body{
height:100vh;
overflow:hidden;
display:flex;
justify-content:center;
align-items:center;
background:linear-gradient(135deg,#ff4d6d,#ff99c8,#ffd6e7);
}

.container{
text-align:center;
padding:40px;
background:rgba(255,255,255,.2);
backdrop-filter:blur(10px);
border-radius:25px;
box-shadow:0 0 30px pink;
}

h1{
color:white;
font-size:45px;
margin-bottom:20px;
}

h2{
color:white;
margin:20px;
}

.gif{
width:250px;
border-radius:20px;
}

button{
padding:15px 35px;
margin:15px;
font-size:20px;
border:none;
border-radius:40px;
cursor:pointer;
transition:.3s;
}

#yes{
background:#ff006e;
color:white;
}

#yes:hover{
transform:scale(1.1);
}

#no{
background:white;
color:#ff006e;
position:absolute;
}

#message{
font-size:35px;
margin-top:30px;
color:white;
text-shadow:0 0 15px red;
}

.heart{
position:absolute;
font-size:35px;
animation:fall linear infinite;
}

@keyframes fall{

0%{
transform:translateY(-100px);
opacity:1;
}

100%{
transform:translateY(110vh);
opacity:0;
}

}
